.container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Hero {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
@media(max-width: 991px) {
  .Hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .Hero {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .Hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
